@import '../../styles/shared';

.loadMoreWrapper {
  display: flex;
  justify-content: center;
}

.loadMoreButton {
  padding: 8px 16px;
  margin-top: 15px;
  border: 2px solid #b00b6842;
  border-radius: 4px;
  background-color: #ac3377;
  text-align: center;
  display: inline-block;
  color: $black-color;
  text-decoration: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  max-width: 180px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: all $transition-duration $transition-function;

  &:hover,
  :focus {
    background-color: #8a265e;
    transform: scale(1.05);
  }
}
